/* Range input styling */
input[type="range"] {
    -webkit-appearance: none !important;
    background-color: rgb(229 231 235) !important;
    border-radius: 9999px !important;
    outline: none !important;
    cursor: pointer !important;
    height: 8px !important;
}

/* Safari and Chrome */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: rgb(14 165 233) !important;
    border-radius: 9999px !important;
    cursor: pointer !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1) !important;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 200ms !important;
    width: 24px !important;
    height: 24px !important;
    margin-top: -8px !important;
    border: none !important;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: rgb(56 189 248) !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1) !important;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: rgb(229 231 235) !important;
    border-radius: 9999px !important;
    height: 8px !important;
    border: none !important;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    background-color: rgb(14 165 233) !important;
    border-radius: 9999px !important;
    cursor: pointer !important;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1) !important;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
    transition-duration: 200ms !important;
    width: 24px !important;
    height: 24px !important;
    border: none !important;
}

input[type="range"]::-moz-range-thumb:hover {
    background-color: rgb(56 189 248) !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1) !important;
}

input[type="range"]::-moz-range-track {
    background-color: rgb(229 231 235) !important;
    border-radius: 9999px !important;
    height: 8px !important;
    border: none !important;
}
